{% extends 'layout.html.twig' %}

{% block content %}
    {% if ultimoRegistro %}
        <div class="bloqueDatos">
            <div class="bloqueFechaDatos">
                <p>{{ ultimoRegistro.fechaHora|date('d') }} de <span id="spanMes"></span> del {{ ultimoRegistro.fechaHora|date('Y') }}, a las {{ ultimoRegistro.fechaHora|date('H') }}:{{ ultimoRegistro.fechaHora|date('i') }} horas</p>
            </div>
            <div class="bloqueDatosSecundario">
                <p>Temperatura: <span id="mostrarTemperatura">{{ ultimoRegistro.temperatura }} ºC</span></p>
                <p>Lluvia: <span id="mostrarLluvia">{{ ultimoRegistro.lluvia }} mm/m<sup>2</sup> </span></p>
            </div>
            <div class="bloqueDatosSecundario">
                <p>Humedad: <span id="mostrarHumedad">{{ ultimoRegistro.humedad }} %</span></p>
                <p>Viento: <span id="mostrarViento">{{ ultimoRegistro.viento }} km/h</span></p>
            </div>
            <div class="bloqueDirViento">
                <img src="" alt="">
            </div>
        </div>
    {% else %}
        <h1>Todavía no hay registros</h1>
    {% endif %}

    <canvas id="miGrafica"></canvas>
{% endblock %}

{% block javascripts3 %}
    <script>
        var meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var m = {{ ultimoRegistro.fechaHora|date('m') }};
        document.getElementById('spanMes').textContent = meses[m - 1];

        var rutaBrujula = {{ asset('recursos/imagenes/brujula/')|json_encode|raw }};
        var direccion = {{ ultimoRegistro.dirViento|json_encode|raw }}
            document.querySelector(".bloqueDirViento img").src = rutaBrujula + direccion + '.png';

        var temperatura = {{ ultimoRegistro.temperatura }};
        var humedad = {{ ultimoRegistro.humedad }};
        var lluvia = {{ ultimoRegistro.lluvia }};
        var viento = {{ ultimoRegistro.viento }};
        if(temperatura > 30){
            document.getElementById("mostrarTemperatura").classList.add("alerta");
        }else if(temperatura < 10){
            document.getElementById("mostrarTemperatura").classList.add("sinAlerta");
        }
        if(humedad > 70){
            document.getElementById("mostrarHumedad").classList.add("alerta");
        }else if(humedad < 30){
            document.getElementById("mostrarHumedad").classList.add("sinAlerta");
        }
        if(lluvia > 30){
            document.getElementById("mostrarLluvia").classList.add("alerta");
        }else if(lluvia < 15){
            document.getElementById("mostrarLluvia").classList.add("sinAlerta");
        }
        if(viento > 50){
            document.getElementById("mostrarViento").classList.add("alerta");
        }else if(viento < 20){
            document.getElementById("mostrarViento").classList.add("sinAlerta");
        }
    </script>
{% endblock %}

{% block title %}
    Estación meteorológica
{% endblock %}