{% extends 'layout.html.twig' %}

{% block content %}
    {% if ultimoRegistro %}
        <div class="bloqueDatos">
            <div class="bloqueFechaDatos">
                <p>{{ ultimoRegistro.fechaHora|date('d') }} de <span id="spanMes"></span> del {{ ultimoRegistro.fechaHora|date('Y') }}, a las {{ ultimoRegistro.fechaHora|date('H') }}:{{ ultimoRegistro.fechaHora|date('i') }} horas</p>
            </div>
            <div class="bloqueDatosSecundario">
                <p>Temperatura: <span id="mostrarTemperatura">{{ ultimoRegistro.temperatura }} ºC</span></p>
                <p>Lluvia: <span id="mostrarLluvia">{{ ultimoRegistro.lluvia }} mm/m<sup>2</sup> </span></p>
            </div>
            <div class="bloqueDatosSecundario">
                <p>Humedad: <span id="mostrarHumedad">{{ ultimoRegistro.humedad }} %</span></p>
                <p>Viento: <span id="mostrarViento">{{ ultimoRegistro.viento }} km/h</span></p>
            </div>
            <div class="bloqueDirViento">
                <p>Direccion Viento: <span id="mostrarDirViento">{{ ultimoRegistro.dirViento }}</span></p>
            </div>
        </div>
    {% else %}
        <h1>Todavía no hay registros</h1>
    {% endif %}

    <canvas id="miGrafica"></canvas>
{% endblock %}

{% block javascripts3 %}
    <script>
        var meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var m = {{ ultimoRegistro.fechaHora|date('m')|json_encode|raw }};

        document.getElementById('spanMes').textContent = meses[m - 1];
    </script>
{% endblock %}

{% block title %}
    Estación meteorológica
{% endblock %}