{% extends 'layout.html.twig' %}

{% block title %}
    Listado de registros
{% endblock %}

{% block content %}
    <h1 class="titulo">Listado de registros</h1>
    <a href="{{ path('registro_form_anio') }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar registros</a>

    <table id="miTabla" class="table table-bordered table-striped table-hover shadow p-3 mb-5 bg-white rounded">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Temp.</th>
            <th>Hum.</th>
            <th>Lluv.</th>
            <th>Vie.</th>
            <th>Direcc.</th>
        </tr>
        </thead>
        <tbody>
        {% for registro in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('registro_form', {'id': registro.id}) }}">{{ registro.id }}</a></td>
                <td>{{ registro.fechaHora | date('d/m/Y - H:i:s') }}</td>
                <td>{{ registro.temperatura }}</td>
                <td>{{ registro.humedad }}</td>
                <td>{{ registro.lluvia }}</td>
                <td>{{ registro.viento }}</td>
                <td>{{ registro.dirViento }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador, 'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}

{% block javascripts3 %}
    <script>
        if(document.querySelector("ul.pagination")){
            var spanAnterior = document.querySelector("li.prev span");
            var enlaceAnterior = document.querySelector("li.prev a");
            var spanSiguiente = document.querySelector("li.next span");
            var enlaceSiguiente = document.querySelector("li.next a");

            if(spanAnterior){
                spanAnterior.innerHTML = "← Anterior";
            }else{
                enlaceAnterior.innerHTML = "← Anterior";
            }

            if(spanSiguiente){
                spanSiguiente.innerHTML = "Siguiente →";
            }else{
                enlaceSiguiente.innerHTML = "Siguiente →";
            }
        }
    </script>
{% endblock %}