{% extends 'layout.html.twig' %}

{% block title %}
    Listado de usuarios
{% endblock %}

{% block content %}
    <h1 class="titulo">Listado de usuarios</h1>
    <a href="{{ path('usuario_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo Usuario</a>

    <table id="miTabla" class="table table-bordered table-striped table-hover shadow p-3 mb-5 bg-white rounded tablesorter">
        <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Usuario</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in paginador.currentPageResults %}
            <tr>
                <td><a href="{{ path('usuario_form', {'id': usuario.id}) }}">{{ usuario.nombre }}</a></td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.nombreUsuario }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginador and paginador.haveToPaginate %}
        {{ pagerfanta(paginador, 'twitter_bootstrap4') }}
    {% endif %}
{% endblock %}

{% block javascripts3 %}
    <script>
        if(document.querySelector("ul.pagination")){
            var spanAnterior = document.querySelector("li.prev span");
            var enlaceAnterior = document.querySelector("li.prev a");
            var spanSiguiente = document.querySelector("li.next span");
            var enlaceSiguiente = document.querySelector("li.next a");

            if(spanAnterior){
                spanAnterior.innerHTML = "← Anterior";
            }else{
                enlaceAnterior.innerHTML = "← Anterior";
            }

            if(spanSiguiente){
                spanSiguiente.innerHTML = "Siguiente →";
            }else{
                enlaceSiguiente.innerHTML = "Siguiente →";
            }
        }
    </script>
{% endblock %}